<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Tab 1 </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>

  <div
    class="map"
    leaflet
    [leafletOptions]="options"
    [leafletZoom]="0"
    [leafletFitBounds]="DEFAULT_FIT_BOUNDS"
    (leafletMapReady)="onMapReady($event)"
  ></div>
  <leaflet-locate-control
    [options]="locateOptions"
    [map]="_map"
  ></leaflet-locate-control>
</ion-content>
